################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProteusMMX_382/ProteusMMX/ProteusMMX/ActionSheetPage.cs
